<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= folder.name %> Folder</h1>

    <a href="/folder/<%= folder.cuid %>/update"
      >Rename <%= folder.name %> Folder</a
    >
  </body>
</html>
