<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= folder.name %> Folder</h1>

    <div class="links">
      <a href="/folder/<%= folder.cuid %>/upload"
        >Upload</a
      >
      <a href="/folder/<%= folder.cuid %>/share"
        >Share</a
      >
      <a href="/folder/<%= folder.cuid %>/update"
        >Rename</a
      >
      <a href="/folder/<%= folder.cuid %>/delete"
        >Delete</a
      >
    </div>

    <ol>
      <% folder.files.forEach((file) => { %>
        <li>
          <a href="/file/<%= file.cuid %>"><%= file.name %></a>
          <span>
            <% if (file.size <= 1024000 ) { %>
              <%= (file.size / 1000).toFixed(1) %> kB
            <% } else { %>
              <%= (file.size / 1024000 ).toFixed(1) %> MB
            <% } %>
          </span>
        </li>
      <% }); %>
    </ol>

  </body>
</html>
