<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= title %></h1>
    
    <% if (locals.user) {%>
      <h2>Welcome Back <%= user.firstName %></h2>
      <a href="/upload">Upload a File</a>
      <a href="/log-out">LOG OUT</a>
      <ol>
        <% userFolders.forEach((folder) => { %>
          <li>
            <a href="/folder/"><%= folder.name %></a>
          </li>
        <% }); %>
      </ol>
    <% } else { %>
      <form action="/log-in" method="POST">
        <label for="username">Email:</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
        <a href="/sign-up">Sign Up!</a>
      </form>
    <%}%>

  </body>
</html>
