<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= title %></h1>
    
    <% if (locals.user) {%>
      <h2>Welcome Back <%= user.firstName %></h2>
      <a class="log-out" href="/log-out">LOG OUT</a>
      <br>
      <a href="/add-folder">Create a Folder</a>
      
      <ol>
        <% userFolders.forEach((folder) => { %>
          <li>
            <a href="/folder/<%= folder.cuid %>"><%= folder.name %></a>
            <% if (folder.sharedExpire > date) {%>
              <span>Shared until <%= folder.sharedExpire %></span>
            <% } %>
          </li>
        <% }); %>
      </ol>
    <% } else { %>
      <form action="/log-in" method="POST">
        <label for="username">Email:</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
        <a href="/sign-up">Sign Up!</a>
      </form>
    <%}%>

  </body>
</html>
